

#about {
  width: 100%;
  position: relative;

  .content-text {
    transform: translateX(-7em);
    @media screen and (max-width: 550px){
      transform: translateX(0);
    }
  }

  .content-image__text {
    right: 60%;
    left: initial;
  }

  .word-bg {
    @include bg-word;
    top: -70%;
    right: 19%;
    left: initial;
    z-index: -1;
  }
}


