@import "colors";
@import "mixins";

.content {

  overflow: hidden;

}


.content-box {
  max-width: 1200px;
  margin:5rem auto 0 auto ;
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;

}

.content-text {
  width: 20%;
  flex-grow: 1;
  font-size: 0.937rem;
  margin-left: 15em;
  align-self: center;
  margin-right: 3em;

  @media screen and (max-width:550px){
    width: 95%;
    margin-left: 5em;
    margin-right: 1em;
  }
  @media screen and (max-width:440px){
    width: 98%;
    margin-left: 1em;
    margin-right: 1em;
  }

  &__header {
    font-size: 2.625rem;
    position: relative;

    &:before {
      @include line-gorizont_color(#000);

    }
  }

  &__paragraph {
    position: relative;

    &:before {
      top: 10%;
      left: -5.25em;
      @include line-horizont;
      @media screen and (max-width:550px){
        left: -3.25em;
      }
    }
  }
}

.link-more {
  @include btn_more($yellow-text, #000);
  border: none;
  justify-content: left;
  position: relative;


  &:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 44px;
    background-color: $yellow-text;
    top: 100%;
    left: 1.42em;
  }
}


.content-image {
  width: 50%;
  position: relative;
  margin: 1em auto;

  & img {
    width: 100%;

    box-shadow: 0 0 10px #1f1d1d;

  }

  & .content-image__text {
    position: absolute;
    top: 18%;
    left: 40%;
    font-size: 10.58em;
    font-weight: bold;
    color: rgba(208, 208, 208, 0.2);
    text-transform: uppercase;
    z-index: 5;
    @media screen and (max-width: 768px){
      font-size: 5rem;
    }

  }
}

.number-section {
  position: absolute;
  top: 95%;
  color: black;
  font-size: 2.25em;
  font-weight: bold;
  left: 2%;

  & span {
    color: $yellow-text;
  }

  .line_vertical {
    @include line-vertical;
    position: absolute;
    left: 18px;
    margin-top: 4.375rem;
  }

}

#decor {
  margin-top: 16.25em;
  @media screen and (max-width: 768px){
    margin-top: 12.25em;
  }

  & .number-section {

    right: 2%;
    left: initial;
  }

  .content-image {

    &__text {
      left: -60%;
    }
  }

  .content-text {
      margin-left: 3em;

      text-align: right;
      margin-right: 15em;
      //width: 30%;
    @media screen and (max-width:550px){
      margin-left: 1em;
      margin-right: 5em;
    }
    @media screen and (max-width:440px){
      margin-left: 1em;
      margin-right: 1em;
    }


    & .word-bg {
      @include bg-word;
      top: -75%;
      right: -5%;
      @media screen and (max-width: 768px){
        top: -55%;
      }
    }

    &__header {
      &:before {
        left: calc(100% + 2.5rem);
        @media screen and (max-width:550px){
          left: calc(100% + 0.5rem);
        }
      }
    }

    &__paragraph {
      &:before {
      left: calc(100% + 2.5rem);
        @media screen and (max-width:550px){
          left: calc(100% + 0.5rem);
        }
      }
    }

    .link-more {
      //justify-content: right;
      //width: 184px;
      margin-right: 0;
      margin-left: auto;

    }

  }



}


