
.header {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 2;
  min-height: 100vh;
  //max-width: 1900px;


}

// block top menu
.header-menu {
  padding: 1.875em 1.875em 0 1.56em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #868585;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 0.937em;
  @media screen and (max-width: 899px) {
    background: rgba(0,0,0,0.9);
    z-index: 20;
    position: fixed;
    padding: 0.5em;

  }

  &__left {
    display: flex;
    align-items: center;
    position: static;

    z-index: 21;


    & .word-menu {
      margin-left: 1em;
      @media screen and (max-width: 440px) {
        display: none;
      }
    }

  }

.mobile-menu {
  cursor: pointer;
  height: 20px;
  position: relative;
  width: 32px;
  &.is {
    &-active {
      .mobile-menu__line {
        &--top {
          top: 10px;
          transform: rotate(45deg);
        }
        &--middle { opacity: 0; }
        &--bottom {
          top: 10px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  &__line {
    background-color: $yellow-text;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all linear .4s;
    width: 100%;
    &--top { top: 0; }
    &--middle { top: 9px; }
    &--bottom { top: 18px; }
  }
}


  &__center {
    display: flex;
    //position: relative;

    & nav {
      margin-right: auto;
      margin-left: auto;

    }

    & .nav-menu {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.mobile {
        position: fixed;
        display: flex;
        padding: 0;
        width: 100%;
        left: 0;
        top: 0;
        flex-direction: column;
        justify-content: center;
        z-index: 15;
        height: 100%;
        background: rgba(0,0,0,0.9);
        & li:not(:last-child) {
          margin-right: 0;
          margin-bottom: 2em;
        }
        & li {
          font-size: 2rem;
        }
      }

      @media screen and (max-width: 900px) {
        display: none;
      }


      & li:not(:last-child) {
        margin-right: 3em;
      }

      & li {
        position: relative;

        &:before {
          position: absolute;
          content: '';
          background-color: $yellow-text;
          top: 100%;
          left: 0;
          height: 2px;
          transition: all 0.5s;
          transform: scaleX(0);
        }

        &:hover:before {
          width: 100%;
          transform: scaleX(1);
        }
      }
    }
  }



  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 22;
    & a:first-child {
      margin-right: 10px;
    }

    .select {
      position: relative;
      background-color: transparent;
      color: inherit;
      border: none;
      text-transform: uppercase;
      font-weight: bold;
      appearance: none;
      &.is-open {
        .select__body { display: block; }
      }
      &__header {
        cursor: pointer;
      }
      &__body {
        display: none;
        left: 0;
        position: absolute;
        top: 100%;
        right: 0;
      }
      &__item {
        cursor: pointer;
      }
    }

  }
}

// background & text right
.header-wrapper {
  //max-width: 1920px;
  display: flex;
}

.header-left {
 background-repeat:  no-repeat;
  background-size: cover;
  height: 95vh;
  width: 54%;
  text-transform: uppercase;

  & .header-scroll {
    position: absolute;
    top: 65%;
    left: 32%;
    text-align: center;
    @media (orientation: landscape)  and (max-height:768px){
      top:60%;
      left:29%;
    }

    & + img {
      width: 20px;
      height: 30px;
    }

    &__arrow {
      width: 13px;
      margin-top: 20px;


      & i {
        display: block;
        width: 2px;
        height: 1.875em;
        background-color: $white;
        transform: translate(8px, 5px);

      }

      & img {
        transform: translatex(3px);
      }

      & .fadeout-color {
        transform: rotate(90deg);
        margin-top: 20px;
        color: #1f1d1d;
        animation: fadeout-color 3s infinite;
      }
    }

  }
}


.header-right {

  width: 46%;
  height: 99vh;
  background-size: cover;


  & .header-right__text {
    position: absolute;
    font-size: 1.5rem;
    top: 28%;
    color: rgba(190, 166, 124, 0.2);
    right: 19%;
    writing-mode: vertical-lr;

    & span {
      padding: 1em 0;
    }

  }

  & .header-right__link {
    position: absolute;
    top: 95%;
    right: 1.875em;
    cursor: pointer;
  }

  & .line_vertical {
    @include line-vertical;
    position: absolute;
    //margin-top: calc(70% + 20px);
    right: 19%;
    top: calc(100vh - 1.8rem);

  }
}

// section slider
.section-slider {
  display: flex;
  width: 62%;
  top: 22%;
  left: 19%;
  position: absolute;
  @media screen and (max-width:440px){

    width: 80%;
    left: 5%;
  }
}


.slider-dots {
  width: 21%;
  color: $yellow-text;
  margin-right: 10px;
  overflow: hidden;

  & .slider-dots__item {
    & span {
      font-size: 3.25rem;
      writing-mode: vertical-lr;
      position: relative;
      height: 2.3em;
      text-align: right;


      &:after {
        position: absolute;
        top: -5%;
        left: 50%;
        content: '';
        width: 4px;
        height: 54px;
        background-color: $yellow-text;
      }
    }
  }

  & .slider-dots__dot {
    list-style-type: none;

    & button {
      display: none;
    }

    & .slick-active {
      list-style-image: url("/static/image/dot-active.svg");

    }

    & li {
      list-style-image: url("/static/image/dot.svg");
      margin-top: 50px;
    }

  }
}

.header-slider {
  width: 75%;
  text-align: left;

  & .header-slider-inner {

    & h1 {
      margin: 0;
    }

    & .slider-word-head {
      font-size: 6.25rem;
      font-weight: bold;
      color: $yellow-text;
      margin: 0.6em 0;
      @media (max-width: 81.25em) {
        font-size: 4rem;
      }
      @media screen and (max-width:768px){

        font-size: 2rem;
      }
    }

    & .slider-btn {
      @include btn_more($white, $white)
    }
  }

}

.word-bg {
  @include bg-word;
  top: 75%;
  left: 19%;
  z-index: 5;
}

