//@mixin bg-dark {
//  content: '';
//  position: absolute;
//  background: rgba(#000, 0.85);
//  top: 0;
//  left: 0;
//  height: 100%;
//}

@mixin btn_more ($color-arrow,$color-text){
  display: flex;
  max-width: 22em;
  align-items: center;
  justify-content: center;
  color: $color-text;
  font-size: 0.875rem;
  //line-height: 5;
  padding: 1.42em;
  border: 2px solid $color-text;

  //@media screen and (max-width:768px){
  //
  //  max-width: 14em;
  //}

  i {
    display: inline-block;
    width: 2.5em;
    height: 1px;
    background-color: $color-arrow;
    transform: translateX(9px);
    margin-left: 1.43em;
  }

  span {
    color:$color-arrow;

  }
}

@mixin line-horizont {
  position: absolute;
  width: 2.75em;
  height: 0.25em;
  background-color: $yellow-text;
  content: '';
}


@mixin line-vertical {
  width: 0.25rem;
  height: 3rem;
  background-color: $yellow-text;
}


@mixin line-gorizont_color ($color){
  position: absolute;
  content: '';
  top: 50%;
  left: -11rem;
  width: 8.75rem;
  height: 2px;
  background-color: $color;
  @media screen and (max-width:550px){
    left: -9rem;
  }
}



@mixin bg-word {
  position: absolute;
  font-size: 23rem;
  text-transform: uppercase;
  color: rgba(190, 166, 124, 0.07);
  font-weight: bold;
  line-height: 1.111;
  margin: 0;
  @media screen and (max-width: 768px){
    font-size: 15rem;
  }
  @media screen and (max-width:450px){
    font-size: 10rem;
  }
}

@mixin arrow ($color) {

    display: inline-block;
    transform: rotate(312deg);
    width: 6px;
    height: 6px;
    margin-left: 2px;
    border-right: 1px solid $color;
    border-bottom: 1px solid $color;

}
