//@import "colors";
//@import "mixins";
//@import "content";

.quality {
  margin-top: 10em;
  position: relative;
  margin-bottom: 9.5em;



  .word-bg {
    @include bg-word;
    top: 95%;
    left: initial;
    right: 15%;
    z-index: -1;
  }

  & h2 {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 1.125em;
    text-align: center;
  }
}

.quality-text {
  width: 50%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width:640px){
    width: 95%;
  }

  & p {
    position: relative;

    &:before {
      @include line-horizont;
      top: -25px;
      left: calc(50% - 22px);
    }
  }
}

.quality-video {
  margin-top: 4.37em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .video-box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em auto;

    h3 {
      margin-top: 50px;
      font-size: 1rem;
      text-transform: capitalize;
      position: relative;
      &:before {
        @include line-horizont;
        top: -23px;
        left: calc(50% - 22px);
        height: 1px;

      }
    }

    &__circle {
      border-radius: 50%;
      width: 260px;
      height: 260px;
      border: 1px solid $yellow-text;
      text-align: center;
      margin: 0 1.7em;
      line-height: 255px;
      position: relative;
      transition: 2s;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px darken($yellow-text,2);
      }

      & .video-arrow {
        position: absolute;
        //display: block;
        top: calc(50% - 35px);
        left: calc(50% - 35px);
        width: 70px;
        height: 70px;
        border: 35px solid $yellow-text;
        //color: $yellow-text;
        border-radius: 50%;

        & img {
          position: absolute;
          top: -12.5px;
          left: -10px;
          object-fit: cover;
          z-index: 5;
          //cursor: pointer;
        }

      }

      & .video {
        display: inline-block;
        vertical-align: middle;
        object-fit: cover;
        border-radius: 50%;
        width: 245px;
        height: 245px;



      }
    }


  }
}
