

.section-video {

  width: 100%;
  //height: 910px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: 2.5em 0;
  color: white;

}

.video-content {
  width: 80%;
  //height: 100%;
  display: flex;
  border: 1px solid $yellow-text;
  margin: 0 auto;
  align-items: center;
  padding: 10px 0;
  position: relative;
  @media screen and (max-width:1000px){
    width: 97%;
  }

  & .content-box {
    width: 80%;
    //margin-left: 10%;
    position: static;
    margin: 2em auto;
    @media screen and (max-width:1000px){

      width: 99%;

    }

    & .content-text {
      width: 50%;
      margin-bottom: 1em;

      & h2 {
        color: $yellow-text;
        font-size: 3rem;
        margin: 0 0 1em 0;
        position: relative;
        line-height: 1.25;
        @media screen and (max-width: 768px){
          font-size: 1.5rem;
        }

        &:before {
          @media screen and (min-width: 362px) {
            @include line-gorizont_color($white);
            top: 25%;
          }
        }
      }

      & p {
        position: relative;

        &:before {
          @include line-horizont;
          top: 7px;
          left: -88px;

        }
      }

      & .slider-btn {
        @include btn_more($white, $white);
        margin-top: 2.5em;

        & img {
          margin-right: 1em;
        }

      }
    }

  }

}

.line-vertical {

  @include line-gorizont_color($white);
  transform: rotate(90deg);
  right:0;
  left: initial;

}

.video-play {
  background: url("/static/image/btnvideo.png");
  width: 50%;
  //height: 910px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;

  top: 2%;
  right: 5%;
  min-height: 100%;

}
