@import "../../node_modules/normalize.css/normalize.css";
@import "content";
@import "colors";
@import "animation";
@import "header";
@import "mixins";
@import "quality";
@import "video";
@import "about";

:root {
  box-sizing: border-box;
  font-size: 1em;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;

  font-family: 'Montserrat', sans-serif;
  background-color: white;
  max-width: 1900px;
  padding: 0 ;
}

a{
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}

img {
  display: block;
  z-index: 5;
  color: white;
  object-fit: cover;
}

h1,h2,h3,h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;

}

.logo {
  font-size: 2.25rem;
  line-height: 1.2;
  letter-spacing: 5px;
  position: relative;
  color: white;
  z-index: 23;
  @media screen and (max-width: 540px){
    font-size: 1.5rem;
  }
  @media screen and (max-width: 440px){
    font-size: 1rem;
  }
  &:before {
    position: absolute;
    content: '';
    height: 0.14em;
    width: 1.7em;
    background-color: #bea67c;
    top: calc(35% + 3px);
    left: 1.35em;
  }
}

.arrow{
  @include arrow($yellow-text);
}

.arrow_white {
  @include arrow($white);
}

footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #434343;
  padding: 1em 0;
  margin-top: 1em;
  & .footer-row {
    display: flex;
    align-items: center;
    justify-content: space-around;

    & .date {
      width: 25%;
    }

    .design {
      width: 30%;
      & span {
        color:#7d7d7d;
      }
    }
    .logo {
      width: 33%;

      font-weight: bold;
    }
  }
}
